@page "/search"
@using BlazorWebAssembly.Shared



@*@{
        var searchTool = new List<string>() { "Search" };
        var searchColumns = new string[] { "FirstName", "LastName" };
    }*@

<div style="width:1100px">
    <SfGrid @ref="EmployeeGrid" DataSource="@Employees" AllowPaging="true">
        <SfToolbar>
            <ToolbarItems>
                <ToolbarItem Type="ItemType.Input" Align="ItemAlign.Right">
                    <Template>
                        <SfTextBox @ref="@SearchTextBox" Placeholder="Search" ></SfTextBox>
                    </Template>
                </ToolbarItem>
                <ToolbarItem Type="ItemType.Button" Align="ItemAlign.Right">
                    <Template>
                       <SfButton Content="Search" OnClick="@SearchClick"></SfButton>
                    </Template>
                </ToolbarItem>
            </ToolbarItems>
        </SfToolbar>
        <GridPageSettings PageSize="5"></GridPageSettings>
        <GridSearchSettings Operator="Operator.Equal"></GridSearchSettings>
        <GridColumns>
            <GridColumn Field=@nameof(Employee.EmployeeId) HeaderText="ID"></GridColumn>
            <GridColumn Field=@nameof(Employee.FirstName) HeaderText="First Name"></GridColumn>
            <GridColumn Field=@nameof(Employee.LastName) HeaderText="Last Name"></GridColumn>
            <GridColumn Field=@nameof(Employee.DateOfBirth) HeaderText="Date of Birth"></GridColumn>
            <GridColumn Field=@nameof(Employee.Email) HeaderText="Email"></GridColumn>
            <GridColumn Field=@nameof(Employee.Gender) HeaderText="Gender"></GridColumn>
        </GridColumns>
    </SfGrid>
</div>


@code{

    public List<Employee> Employees { get; set; }
    public SfGrid<Employee> EmployeeGrid { get; set; }
    public SfTextBox SearchTextBox { get; set; }

    [Inject]
    public IEmployeeService EmployeeService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Employees = (await EmployeeService.GetAllEmployees()).ToList();
    }

    private async void OnInput(InputEventArgs args)
    {
        await this.EmployeeGrid.SearchAsync(args.Value);
    }

    private async void SearchClick()
    {
        await this.EmployeeGrid.SearchAsync(SearchTextBox.Value);
    }
}